//button size
$def_size: 40px;

$size-1: $def_size*1;
$size-2: $def_size*1.25;
$size-3: $def_size*1.5;
$size-4: $def_size*2.1;
$size-5: $def_size*2.3;
$size-6: $def_size*7.5;


//color
$keyboardBackground: rgb(205, 205, 205);

$letterKeys: rgb(255, 255, 255);
$letterKeysBackground: rgb(113, 113, 113);

$metaKeys: rgb(158, 158, 158);
$metaKeysBackground: rgb(49, 49, 49);

$hoveredKeys: rgb(43, 75, 50)